<div class="grid">
    <div class="grid__area-1 grid__area"><app-jojo-interno></app-jojo-interno></div>
    <div class="grid__area-2 grid__area"><app-jojo-interno></app-jojo-interno></div>
    <div class="grid__area-3 grid__area"><app-jojo-interno></app-jojo-interno></div>
    <div class="grid__area-4 grid__area"><app-jojo-interno></app-jojo-interno></div>
    <div class="grid__area-5 grid__area"><app-jojo-interno></app-jojo-interno></div>
    <div class="grid__area-6 grid__area"><app-jojo-interno></app-jojo-interno></div>
    <div class="grid__area-7 grid__area"><app-jojo-interno></app-jojo-interno></div>
    <div class="grid__area-8 grid__area"><app-jojo-interno></app-jojo-interno></div>
    <div class="grid__area-9 grid__area"><app-jojo-interno></app-jojo-interno></div>
    <div class="grid__gapv__1 grid__gap"></div>
    <div class="grid__gapv__2 grid__gap"></div>
    <div class="grid__gaph__1 grid__gap"></div>
    <div class="grid__gaph__2 grid__gap"></div>
</div>