<div class="total">
    <div class="big-ball">&nbsp;</div>
    <div class="big-check">&nbsp;</div>
</div>

<div class="grid">
    <div class="grid__area" (click)="onClick(0,0,1)"><span class="ball-1 ball">&nbsp;</span><span class="check-1 check">&nbsp;</span></div>
    <div class="grid__area" (click)="onClick(0,1,2)"><span class="ball-2 ball">&nbsp;</span><span class="check-2 check">&nbsp;</span></div>
    <div class="grid__area" (click)="onClick(0,2,3)"><span class="ball-3 ball">&nbsp;</span><span class="check-3 check">&nbsp;</span></div>
    <div class="grid__area" (click)="onClick(1,0,4)"><span class="ball-4 ball">&nbsp;</span><span class="check-4 check">&nbsp;</span></div>
    <div class="grid__area" (click)="onClick(1,1,5)"><span class="ball-5 ball">&nbsp;</span><span class="check-5 check">&nbsp;</span></div>
    <div class="grid__area" (click)="onClick(1,2,6)"><span class="ball-6 ball">&nbsp;</span><span class="check-6 check">&nbsp;</span></div>
    <div class="grid__area" (click)="onClick(2,0,7)"><span class="ball-7 ball">&nbsp;</span><span class="check-7 check">&nbsp;</span></div>
    <div class="grid__area" (click)="onClick(2,1,8)"><span class="ball-8 ball">&nbsp;</span><span class="check-8 check">&nbsp;</span></div>
    <div class="grid__area" (click)="onClick(2,2,9)"><span class="ball-9 ball">&nbsp;</span><span class="check-9 check">&nbsp;</span>-</div>
    <div class="grid__gapv__1 grid__gap"></div>
    <div class="grid__gapv__2 grid__gap"></div>
    <div class="grid__gaph__1 grid__gap"></div>
    <div class="grid__gaph__2 grid__gap"></div>
</div>